<html>
<title>Equipment web App</title>
<body>
<div>
  <div align="center">
    <div class="link-space"><span><a href="#" (click)="showInput('MULTIPLE')">Fetch 'X' number of equipments</a></span></div>
    <div><span><a href="#" (click)="showInput('SINGLE')">Fetch single equipment detail</a></span></div>
    <form [formGroup]="form">
      <div class="link-space" *ngIf="type == 'MULTIPLE'">
        <span>Enter number of equipments :</span>
        <input #inputNumber formControlName="inputNumber" type="text">
        <button (click)="getEquipments(inputNumber.value)" [disabled]="!form.valid">Submit</button>
      </div>
      <div class="link-space" *ngIf="type == 'SINGLE'">
        <span>Enter EquipmentId :</span>
        <input #inputNumber formControlName="inputNumber" type="text" class="form-control">
        <button (click)="getEquipment(inputNumber.value)" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
    <app-equipment-details class="link-space" *ngIf="type == ''" [resultEquipments]="equipments"></app-equipment-details>
    <div>{{errorMessage}}</div>
  </div>
</div>
</body>
</html>
